on:
  push:
    branches:
      - main

jobs:
  ubuntu_hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello World from Ubuntu Runner!!"
      - run: echo "GitHub Repo URL --> "+ ${{ github.repository }}
